<div class="page-header">
  <h1>Characters <small>Sorted by number of matches participated in across all tournaments</small></h1>
</div>

<%= render partial: 'view_models/statistics_list',
           object: @view_model,
           as: :vm %>
