<div class="page-header">
  <h1>Characters <small>Sorted by average votes gained over their matches in Saimoe <%= @tournament.year %></small></h1>
</div>

<%= render partial: 'view_models/statistics_list',
           object: @view_model,
           as: :vm %>
