<h1>Listing tournaments</h1>

<table>
  <tr>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= link_to tournament.year, short_tournament_path(tournament.year) %></td>
  </tr>
<% end %>
</table>
