<div class="page-header">
  <h1>Series <small>Sorted by number of appearances at each stage of Saimoe <%= @tournament.year %></small></h1>
</div>

<%= render partial: 'view_models/statistics_list',
           object: @view_model,
           as: :vm %>
