<%= render partial: 'shared/final_match', locals: {stage_matches: @final_stage_matches} %>

<hr />

<% @group_stage_matches.each_slice(2) do |left, right| %>
    <% left_group = left.shift %>
    <% left.each do |stage_matches| %>
        <% hierarchy = stage_matches.delete(:hierarchy) %>
        <%= render partial: 'shared/table_match', locals: {group: left_group,
                                                           stage_matches: stage_matches,
                                                           hierarchy: hierarchy,
                                                           columns: @tournament.group_stages_without_playoffs.size} %>
    <% end %>
    <% if right %>
        <% right_group = right.shift %>
        <% right.each do |stage_matches| %>
            <% hierarchy = stage_matches.delete(:hierarchy) %>
            <%= render partial: 'shared/table_match', locals: {group: right_group,
                                                               stage_matches: stage_matches,
                                                               hierarchy: hierarchy,
                                                               right_align: true,
                                                               columns: @tournament.group_stages_without_playoffs.size} %>
        <% end %>
    <% end %>
    <div class="cb"></div>
<% end %>
