<% cache vm.dependencies do %>
    <div class="date-match-view-model container-fluid">
        <div class="row-fluid">
            <div class="span5">
                <%= vm.render_title %>
                <div class="match-view">
                    <%= render partial: 'view_models/character_entry',
                               collection: vm.character_entries,
                               as: :vm %>
                </div>
            </div>
            <div class="span7">
                <% if vm.match.vote_graph? %>
                    <%= image_tag vm.match.vote_graph_url %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>