<% cache vm do %>
    <div class="group-matches-view-model">
        <% vm.render_groups.each do |r| %>
            <%= r[:selector] %>
            <%= r[:title] %>
            <%= render partial: r[:group_view_model], as: :vm %>
            <div class="cb"></div>
            <hr />
        <% end %>
    </div>
<% end %>