<div class="row-fluid">
  <div class="span12">
    <h1><%= @voice_actor.full_name %></h1>
  </div>
</div>

<div class="page-header">
  <h2>Characters</h2>
</div>

<div class="well">
  <div class="row-fluid">
    <% @chars.each do |char_arr| %>
      <div class="span3">
        <% char_arr.each do |character_entry| %>
          <%= character_entry.render %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="page-header">
  <h2>Tournament History</h2>
</div>

<%= @tournament_history_view_model.render %>

<div class="form-actions">
  <%= link_to 'Voice actor index', voice_actors_path, class: :btn  %>
</div>
